<!-- Header -->
<header id="header" class="site-header" role="banner">
  <div id="header-inner" class="container sixteen columns over">
    <hgroup class="one-third column alpha">
      <h1 id="site-title" class="site-title">
        <a href="index.html" id="logo">
          <img src="app/assets/images/logo.png" alt="Reddit Catalog logo" height="63" width="200" />
        </a>
      </h1>
    </hgroup>
    <nav id="main-nav" class="two thirds column omega">
      <ul id="main-nav-menu" class="nav-menu">
        <li id="menu-item-1" class="current">
          <a href="index.html">Home</a>
        </li>
        <li id="menu-item-2">
          <a href="three-column.html">Three Column</a>
        </li>
      </ul>
    </nav>
  </div>
</header>