<section class="container">
  <div class="row">
    <div class="col-md-4">
      <article id="photo-item-1">
        <div class="featured-image img-wrapper">
          <a href="images/iceberg1.jpg" class="img-link" title="Photo Item 1">
            <img src="images/iceberg1.jpg" class="scale-with-grid" alt="Random Iceberg Photo">
            <div class="overlay zoom"></div>
          </a>
        </div>

        <h4>
          <a href="#">Photo Item 1</a>
        </h4>
        <p>This is where you can show off your awesome photography.</p>

      </article>
    </div>
    <div class="col-md-4">
      <article id="photo-item-1">
        <div class="featured-image img-wrapper">
          <a href="images/iceberg1.jpg" class="img-link" title="Photo Item 1">
            <img src="images/iceberg1.jpg" class="scale-with-grid" alt="Random Iceberg Photo">
            <div class="overlay zoom"></div>
          </a>
        </div>

        <h4>
          <a href="#">Photo Item 1</a>
        </h4>
        <p>This is where you can show off your awesome photography.</p>

      </article>
    </div>
    <div class="col-md-4">
      <article id="photo-item-1">
        <div class="featured-image img-wrapper">
          <a href="images/iceberg1.jpg" class="img-link" title="Photo Item 1">
            <img src="images/iceberg1.jpg" class="scale-with-grid" alt="Random Iceberg Photo">
            <div class="overlay zoom"></div>
          </a>
        </div>

        <h4>
          <a href="#">Photo Item 1</a>
        </h4>
        <p>This is where you can show off your awesome photography.</p>

      </article>
    </div>
  </div>
</section>
<!-- container -->