<section class="container">
  <div class="row">
    <div class="col-md-4" ng-repeat="subreddit in subredditItems">
      <article id="photo-item-1">
        <div class="featured-image img-wrapper">
          <a href="{{'http://reddit.com' + subreddit.data.url }}" class="img-link" title="Photo Item 1">
            <img src="{{imgRefactorUrl(subreddit.data.banner_img)}}" class="scale-with-grid" alt="Random Iceberg Photo">
            <div class="overlay zoom"></div>
          </a>
        </div>
        <h4>
          <a href="{{'http://reddit.com' + subreddit.data.url}}">{{subreddit.data.display_name_prefixed}}</a>
        </h4>
        <p>{{subreddit.data.submit_text | truncate:true:100:' ...'}}</p>
      </article>
    </div>    
  </div>
</section>
<!-- container -->